<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>
    <body>
        <main>
            <section>
                <h2 class="description">
                    Enter a URL to a news article to receive customized Natural Language Process data via APIs provided by <a href='https://www.meaningcloud.com/'>Meaning Cloud</a>.
                </h2>
                <form onsubmit="return handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Enter News URL">
                    <input id="submit-button" type="submit" name="" value="SUBMIT">
                </form>
                <h4 id="error-message">Error: Please enter text.</h4>
                <h4 id="processing-message">Processing...</h4>
                <div id="results-master-container">
                    <div class="results-header">Results:</div>
                    <div id="results-data-container">
                </div>
            </section>
        </main>
        <!-- <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script> -->
    </body>
</html>